In [1]:
# Устанавливаем OpenJDK
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Закачиваем Spark
!wget -q http://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop2.7.tgz -O spark.tgz
# Распаковываем архив со Spark
!tar xf spark.tgz
# Устанавливаем пакет findspark для работы со Spark из Python
!pip install -q findspark
# Настраиваем переменные окружения для работы с Apache Spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop2.7"
# Настраиваем драйверы БД для работы Apache Spark с sqllite
!wget https://repo1.maven.org/maven2/org/xerial/sqlite-jdbc/3.34.0/sqlite-jdbc-3.34.0.jar -q
!wget https://repo1.maven.org/maven2/org/postgresql/postgresql/42.2.23/postgresql-42.2.23.jar -q
!echo 'spark.jars /content/sqlite-jdbc-3.34.0.jar,/content/postgresql-42.2.23.jar' >> '/content/spark-3.2.0-bin-hadoop2.7/conf/spark-defaults.conf'
# Находим установку Spark
import findspark
findspark.init()
# Подключаем необходимые модули для работы со Spark из Python
from pyspark.sql import SparkSession
# Создаем сессию Spark на локальном компьютере
spark = SparkSession.builder.master("local[*]").getOrCreate()
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip -O 'sample_data/chinook.zip' -q
!unzip "sample_data/chinook.zip" -d "sample_data/"

Archive:  sample_data/chinook.zip
  inflating: sample_data/chinook.db

In [2]:
!apt-get update &>log0 && apt install postgresql postgresql-contrib &>log1
!service postgresql start
!sudo -u postgres psql -c 'CREATE DATABASE mydatabase'
!sudo -u postgres psql -c "CREATE USER me WITH ENCRYPTED PASSWORD 'mypass'"
!sudo -u postgres psql -c 'CREATE SCHEMA AUTHORIZATION "me";'
!sudo -u postgres psql -c 'GRANT ALL PRIVILEGES ON DATABASE mydatabase TO me'

 * Starting PostgreSQL 10 database server
   ...done.
CREATE DATABASE
CREATE ROLE
CREATE SCHEMA
GRANT

В mydatabase должны создасться 11 таблиц

Вывод проверочного скрипта

In [3]:
from sqlalchemy import create_engine

sqlite = create_engine("sqlite:///sample_data/chinook.db") 
postgresql = create_engine("postgresql://me:mypass@localhost/mydatabase") 
jdbcDriverLite = 'org.sqlite.JDBC'
jdbcUrlLite = 'jdbc:sqlite:sample_data/chinook.db'
jdbcUrlPost = 'jdbc:postgresql://localhost/mydatabase?user=me&password=mypass'
jdbcDriverPost= 'org.postgresql.Driver'

In [4]:
with sqlite.connect() as lite, lite.begin(), postgresql.connect() as post, post.begin():
  curs = lite.execute('''SELECT name, sql FROM sqlite_master WHERE type ='table' AND name NOT LIKE 'sqlite_%';''')
  for row in curs:
    tab = row['name'] 
    field = [] 
    col = []
    innerCurs = lite.execute(f'''SELECT name, type FROM pragma_table_info('{tab}') c''')
    for innerRow in innerCurs:
      field.append(innerRow['name']+ ' ' + str(innerRow['type']).replace('NVARCHAR', 'VARCHAR').replace('DATETIME','VARCHAR(100)'))    
      col.append('cast(' + innerRow['name'] + ' as text)' if innerRow['type'] == 'DATETIME' else innerRow['name'])
    ddl = f"CREATE TABLE IF NOT EXISTS {tab} (\n" + ",\n".join(field) + ");"
    postgresql.execute(ddl)
    print('(select ' + ", ".join(col) + f' from {tab}) as {tab}')
    df = spark.read.format('jdbc').options(driver=jdbcDriverLite, dbtable='(select ' + ", ".join(col) + f' from {tab}) as {tab}', url=jdbcUrlLite).load()
    df.show()
    df.write.format("jdbc").option("url", jdbcUrlPost).option("driver",jdbcDriverPost).option("dbtable", tab).mode("overwrite").save()

(select AlbumId, Title, ArtistId from albums) as albums
+-------+--------------------+--------+
|AlbumId|               Title|ArtistId|
+-------+--------------------+--------+
|      1|For Those About T...|       1|
|      2|   Balls to the Wall|       2|
|      3|   Restless and Wild|       2|
|      4|   Let There Be Rock|       1|
|      5|            Big Ones|       3|
|      6|  Jagged Little Pill|       4|
|      7|            Facelift|       5|
|      8|      Warner 25 Anos|       6|
|      9|Plays Metallica B...|       7|
|     10|          Audioslave|       8|
|     11|        Out Of Exile|       8|
|     12| BackBeat Soundtrack|       9|
|     13|The Best Of Billy...|      10|
|     14|Alcohol Fueled Br...|      11|
|     15|Alcohol Fueled Br...|      11|
|     16|       Black Sabbath|      12|
|     17|Black Sabbath Vol...|      12|
|     18|          Body Count|      13|
|     19|    Chemical Wedding|      14|
|     20|The Best Of Buddy...|      15|
+-------+--------------------+--------+
only showing top 20 rows

(select ArtistId, Name from artists) as artists
+--------+--------------------+
|ArtistId|                Name|
+--------+--------------------+
|       1|               AC/DC|
|       2|              Accept|
|       3|           Aerosmith|
|       4|   Alanis Morissette|
|       5|     Alice In Chains|
|       6|Antônio Carlos Jobim|
|       7|        Apocalyptica|
|       8|          Audioslave|
|       9|            BackBeat|
|      10|        Billy Cobham|
|      11| Black Label Society|
|      12|       Black Sabbath|
|      13|          Body Count|
|      14|     Bruce Dickinson|
|      15|           Buddy Guy|
|      16|      Caetano Veloso|
|      17|       Chico Buarque|
|      18|Chico Science & N...|
|      19|        Cidade Negra|
|      20|        Cláudio Zoli|
+--------+--------------------+
only showing top 20 rows

(select CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId from customers) as customers
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
|         6|   Helena|       Holý|                null|       Rilská 3174/6|             Prague| null|Czech Republic|     14300|  +420 2 4177 0449|              null|     hholy@gmail.com|           5|
|         7|   Astrid|     Gruber|                null|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010|    +43 01 5134505|              null|astrid.gruber@app...|           5|
|         8|     Daan|    Peeters|                null|     Grétrystraat 63|           Brussels| null|       Belgium|      1000|  +32 02 219 03 03|              null|daan_peeters@appl...|           4|
|         9|     Kara|    Nielsen|                null| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720|    +453 3331 9991|              null|kara.nielsen@jubi...|           4|
|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|      Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|          São Paulo|   SP|        Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
|        12|  Roberto|    Almeida|              Riotur|    Praça Pio X, 119|     Rio de Janeiro|   RJ|        Brazil| 20040-020|+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@r...|           3|
|        13| Fernanda|      Ramos|                null|        Qe 7 Bloco G|           Brasília|   DF|        Brazil| 71020-677|+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol...|           4|
|        14|     Mark|    Philips|               Telus|      8210 111 ST NW|           Edmonton|   AB|        Canada|   T6G 2C7| +1 (780) 434-4554| +1 (780) 434-5565|  mphilips12@shaw.ca|           5|
|        15| Jennifer|   Peterson|       Rogers Canada| 700 W Pender Street|          Vancouver|   BC|        Canada|   V6C 1G8| +1 (604) 688-2255| +1 (604) 688-8756| jenniferp@rogers.ca|           3|
|        16|    Frank|     Harris|         Google Inc.|1600 Amphitheatre...|      Mountain View|   CA|           USA|94043-1351| +1 (650) 253-0000| +1 (650) 253-0000|  fharris@google.com|           4|
|        17|     Jack|      Smith|Microsoft Corpora...|     1 Microsoft Way|            Redmond|   WA|           USA|98052-8300| +1 (425) 882-8080| +1 (425) 882-8081|jacksmith@microso...|           5|
|        18| Michelle|     Brooks|                null|        627 Broadway|           New York|   NY|           USA|10012-2612| +1 (212) 221-3546| +1 (212) 221-4679|   michelleb@aol.com|           3|
|        19|      Tim|      Goyer|          Apple Inc.|     1 Infinite Loop|          Cupertino|   CA|           USA|     95014| +1 (408) 996-1010| +1 (408) 996-1011|    tgoyer@apple.com|           3|
|        20|      Dan|     Miller|                null|541 Del Medio Avenue|      Mountain View|   CA|           USA| 94040-111| +1 (650) 644-3358|              null| dmiller@comcast.com|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 20 rows

(select EmployeeId, LastName, FirstName, Title, ReportsTo, cast(BirthDate as text), cast(HireDate as text), Address, City, State, Country, PostalCode, Phone, Fax, Email from employees) as employees
+----------+--------+---------+-------------------+---------+-----------------------+----------------------+--------------------+----------+-----+-------+----------+-----------------+-----------------+--------------------+
|EmployeeId|LastName|FirstName|              Title|ReportsTo|cast(BirthDate as text)|cast(HireDate as text)|             Address|      City|State|Country|PostalCode|            Phone|              Fax|               Email|
+----------+--------+---------+-------------------+---------+-----------------------+----------------------+--------------------+----------+-----+-------+----------+-----------------+-----------------+--------------------+
|         1|   Adams|   Andrew|    General Manager|     null|    1962-02-18 00:00:00|   2002-08-14 00:00:00| 11120 Jasper Ave NW|  Edmonton|   AB| Canada|   T5K 2N1|+1 (780) 428-9482|+1 (780) 428-3457|andrew@chinookcor...|
|         2| Edwards|    Nancy|      Sales Manager|        1|    1958-12-08 00:00:00|   2002-05-01 00:00:00|        825 8 Ave SW|   Calgary|   AB| Canada|   T2P 2T3|+1 (403) 262-3443|+1 (403) 262-3322|nancy@chinookcorp...|
|         3| Peacock|     Jane|Sales Support Agent|        2|    1973-08-29 00:00:00|   2002-04-01 00:00:00|       1111 6 Ave SW|   Calgary|   AB| Canada|   T2P 5M5|+1 (403) 262-3443|+1 (403) 262-6712|jane@chinookcorp.com|
|         4|    Park| Margaret|Sales Support Agent|        2|    1947-09-19 00:00:00|   2003-05-03 00:00:00|    683 10 Street SW|   Calgary|   AB| Canada|   T2P 5G3|+1 (403) 263-4423|+1 (403) 263-4289|margaret@chinookc...|
|         5| Johnson|    Steve|Sales Support Agent|        2|    1965-03-03 00:00:00|   2003-10-17 00:00:00|        7727B 41 Ave|   Calgary|   AB| Canada|   T3B 1Y7| 1 (780) 836-9987| 1 (780) 836-9543|steve@chinookcorp...|
|         6|Mitchell|  Michael|         IT Manager|        1|    1973-07-01 00:00:00|   2003-10-17 00:00:00|5827 Bowness Road NW|   Calgary|   AB| Canada|   T3B 0C5|+1 (403) 246-9887|+1 (403) 246-9899|michael@chinookco...|
|         7|    King|   Robert|           IT Staff|        6|    1970-05-29 00:00:00|   2004-01-02 00:00:00|590 Columbia Boul...|Lethbridge|   AB| Canada|   T1K 5N8|+1 (403) 456-9986|+1 (403) 456-8485|robert@chinookcor...|
|         8|Callahan|    Laura|           IT Staff|        6|    1968-01-09 00:00:00|   2004-03-04 00:00:00|         923 7 ST NW|Lethbridge|   AB| Canada|   T1H 1Y8|+1 (403) 467-3351|+1 (403) 467-8772|laura@chinookcorp...|
+----------+--------+---------+-------------------+---------+-----------------------+----------------------+--------------------+----------+-----+-------+----------+-----------------+-----------------+--------------------+

(select GenreId, Name from genres) as genres
+-------+------------------+
|GenreId|              Name|
+-------+------------------+
|      1|              Rock|
|      2|              Jazz|
|      3|             Metal|
|      4|Alternative & Punk|
|      5|     Rock And Roll|
|      6|             Blues|
|      7|             Latin|
|      8|            Reggae|
|      9|               Pop|
|     10|        Soundtrack|
|     11|        Bossa Nova|
|     12|    Easy Listening|
|     13|       Heavy Metal|
|     14|          R&B/Soul|
|     15| Electronica/Dance|
|     16|             World|
|     17|       Hip Hop/Rap|
|     18|   Science Fiction|
|     19|          TV Shows|
|     20|  Sci Fi & Fantasy|
+-------+------------------+
only showing top 20 rows

(select InvoiceId, CustomerId, cast(InvoiceDate as text), BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total from invoices) as invoices
+---------+----------+-------------------------+--------------------+-------------+------------+--------------+-----------------+-----+
|InvoiceId|CustomerId|cast(InvoiceDate as text)|      BillingAddress|  BillingCity|BillingState|BillingCountry|BillingPostalCode|Total|
+---------+----------+-------------------------+--------------------+-------------+------------+--------------+-----------------+-----+
|        1|         2|      2009-01-01 00:00:00|Theodor-Heuss-Str...|    Stuttgart|        null|       Germany|            70174| 1.98|
|        2|         4|      2009-01-02 00:00:00|    Ullevålsveien 14|         Oslo|        null|        Norway|             0171| 3.96|
|        3|         8|      2009-01-03 00:00:00|     Grétrystraat 63|     Brussels|        null|       Belgium|             1000| 5.94|
|        4|        14|      2009-01-06 00:00:00|      8210 111 ST NW|     Edmonton|          AB|        Canada|          T6G 2C7| 8.91|
|        5|        23|      2009-01-11 00:00:00|     69 Salem Street|       Boston|          MA|           USA|             2113|13.86|
|        6|        37|      2009-01-19 00:00:00|    Berger Straße 10|    Frankfurt|        null|       Germany|            60316| 0.99|
|        7|        38|      2009-02-01 00:00:00| Barbarossastraße 19|       Berlin|        null|       Germany|            10779| 1.98|
|        8|        40|      2009-02-01 00:00:00|      8, Rue Hanovre|        Paris|        null|        France|            75002| 1.98|
|        9|        42|      2009-02-02 00:00:00|9, Place Louis Ba...|     Bordeaux|        null|        France|            33000| 3.96|
|       10|        46|      2009-02-03 00:00:00|    3 Chatham Street|       Dublin|      Dublin|       Ireland|             null| 5.94|
|       11|        52|      2009-02-06 00:00:00|   202 Hoxton Street|       London|        null|United Kingdom|           N1 5LH| 8.91|
|       12|         2|      2009-02-11 00:00:00|Theodor-Heuss-Str...|    Stuttgart|        null|       Germany|            70174|13.86|
|       13|        16|      2009-02-19 00:00:00|1600 Amphitheatre...|Mountain View|          CA|           USA|       94043-1351| 0.99|
|       14|        17|      2009-03-04 00:00:00|     1 Microsoft Way|      Redmond|          WA|           USA|       98052-8300| 1.98|
|       15|        19|      2009-03-04 00:00:00|     1 Infinite Loop|    Cupertino|          CA|           USA|            95014| 1.98|
|       16|        21|      2009-03-05 00:00:00|    801 W 4th Street|         Reno|          NV|           USA|            89503| 3.96|
|       17|        25|      2009-03-06 00:00:00|319 N. Frances St...|      Madison|          WI|           USA|            53703| 5.94|
|       18|        31|      2009-03-09 00:00:00|194A Chain Lake D...|      Halifax|          NS|        Canada|          B3S 1C5| 8.91|
|       19|        40|      2009-03-14 00:00:00|      8, Rue Hanovre|        Paris|        null|        France|            75002|13.86|
|       20|        54|      2009-03-22 00:00:00|      110 Raeburn Pl|   Edinburgh |        null|United Kingdom|          EH4 1HH| 0.99|
+---------+----------+-------------------------+--------------------+-------------+------------+--------------+-----------------+-----+
only showing top 20 rows

(select InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity from invoice_items) as invoice_items
+-------------+---------+-------+---------+--------+
|InvoiceLineId|InvoiceId|TrackId|UnitPrice|Quantity|
+-------------+---------+-------+---------+--------+
|            1|        1|      2|     0.99|       1|
|            2|        1|      4|     0.99|       1|
|            3|        2|      6|     0.99|       1|
|            4|        2|      8|     0.99|       1|
|            5|        2|     10|     0.99|       1|
|            6|        2|     12|     0.99|       1|
|            7|        3|     16|     0.99|       1|
|            8|        3|     20|     0.99|       1|
|            9|        3|     24|     0.99|       1|
|           10|        3|     28|     0.99|       1|
|           11|        3|     32|     0.99|       1|
|           12|        3|     36|     0.99|       1|
|           13|        4|     42|     0.99|       1|
|           14|        4|     48|     0.99|       1|
|           15|        4|     54|     0.99|       1|
|           16|        4|     60|     0.99|       1|
|           17|        4|     66|     0.99|       1|
|           18|        4|     72|     0.99|       1|
|           19|        4|     78|     0.99|       1|
|           20|        4|     84|     0.99|       1|
+-------------+---------+-------+---------+--------+
only showing top 20 rows

(select MediaTypeId, Name from media_types) as media_types
+-----------+--------------------+
|MediaTypeId|                Name|
+-----------+--------------------+
|          1|     MPEG audio file|
|          2|Protected AAC aud...|
|          3|Protected MPEG-4 ...|
|          4|Purchased AAC aud...|
|          5|      AAC audio file|
+-----------+--------------------+

(select PlaylistId, Name from playlists) as playlists
+----------+--------------------+
|PlaylistId|                Name|
+----------+--------------------+
|         1|               Music|
|         2|              Movies|
|         3|            TV Shows|
|         4|          Audiobooks|
|         5|          90’s Music|
|         6|          Audiobooks|
|         7|              Movies|
|         8|               Music|
|         9|        Music Videos|
|        10|            TV Shows|
|        11|     Brazilian Music|
|        12|           Classical|
|        13|Classical 101 - D...|
|        14|Classical 101 - N...|
|        15|Classical 101 - T...|
|        16|              Grunge|
|        17| Heavy Metal Classic|
|        18|         On-The-Go 1|
+----------+--------------------+

(select PlaylistId, TrackId from playlist_track) as playlist_track
+----------+-------+
|PlaylistId|TrackId|
+----------+-------+
|         1|   3402|
|         1|   3389|
|         1|   3390|
|         1|   3391|
|         1|   3392|
|         1|   3393|
|         1|   3394|
|         1|   3395|
|         1|   3396|
|         1|   3397|
|         1|   3398|
|         1|   3399|
|         1|   3400|
|         1|   3401|
|         1|   3336|
|         1|   3478|
|         1|   3375|
|         1|   3376|
|         1|   3377|
|         1|   3378|
+----------+-------+
only showing top 20 rows

(select TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice from tracks) as tracks
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
|TrackId|                Name|AlbumId|MediaTypeId|GenreId|            Composer|Milliseconds|   Bytes|UnitPrice|
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
|      1|For Those About T...|      1|          1|      1|Angus Young, Malc...|      343719|11170334|     0.99|
|      2|   Balls to the Wall|      2|          2|      1|                null|      342562| 5510424|     0.99|
|      3|     Fast As a Shark|      3|          2|      1|F. Baltes, S. Kau...|      230619| 3990994|     0.99|
|      4|   Restless and Wild|      3|          2|      1|F. Baltes, R.A. S...|      252051| 4331779|     0.99|
|      5|Princess of the Dawn|      3|          2|      1|Deaffy & R.A. Smi...|      375418| 6290521|     0.99|
|      6|Put The Finger On...|      1|          1|      1|Angus Young, Malc...|      205662| 6713451|     0.99|
|      7|     Let's Get It Up|      1|          1|      1|Angus Young, Malc...|      233926| 7636561|     0.99|
|      8|    Inject The Venom|      1|          1|      1|Angus Young, Malc...|      210834| 6852860|     0.99|
|      9|          Snowballed|      1|          1|      1|Angus Young, Malc...|      203102| 6599424|     0.99|
|     10|          Evil Walks|      1|          1|      1|Angus Young, Malc...|      263497| 8611245|     0.99|
|     11|              C.O.D.|      1|          1|      1|Angus Young, Malc...|      199836| 6566314|     0.99|
|     12|  Breaking The Rules|      1|          1|      1|Angus Young, Malc...|      263288| 8596840|     0.99|
|     13|Night Of The Long...|      1|          1|      1|Angus Young, Malc...|      205688| 6706347|     0.99|
|     14|          Spellbound|      1|          1|      1|Angus Young, Malc...|      270863| 8817038|     0.99|
|     15|             Go Down|      4|          1|      1|               AC/DC|      331180|10847611|     0.99|
|     16|         Dog Eat Dog|      4|          1|      1|               AC/DC|      215196| 7032162|     0.99|
|     17|   Let There Be Rock|      4|          1|      1|               AC/DC|      366654|12021261|     0.99|
|     18|      Bad Boy Boogie|      4|          1|      1|               AC/DC|      267728| 8776140|     0.99|
|     19|       Problem Child|      4|          1|      1|               AC/DC|      325041|10617116|     0.99|
|     20|            Overdose|      4|          1|      1|               AC/DC|      369319|12066294|     0.99|
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
only showing top 20 rows

Проверочный скрипт

In [ ]:
from sqlalchemy import create_engine

postgresql = create_engine("postgresql://me:mypass@localhost/mydatabase")

with postgresql.connect() as post, post.begin():
  cursor = post.execute('''SELECT * FROM pg_catalog.pg_tables where schemaname = 'public';''')
  for row in cursor:
    print(row['schemaname'] + '.' + row['tablename'])
    innerCursor = post.execute(f'''SELECT count(*) cnt FROM {row['schemaname']}.{row['tablename']};''')
    for innerRow in innerCursor:
      print(f'''Rows count: {innerRow['cnt']}''')

public.invoices
Rows count: 412
public.tracks
Rows count: 3503
public.albums
Rows count: 347
public.invoice_items
Rows count: 2240
public.artists
Rows count: 275
public.media_types
Rows count: 5
public.customers
Rows count: 59
public.playlists
Rows count: 18
public.employees
Rows count: 8
public.genres
Rows count: 25
public.playlist_track
Rows count: 8715